<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Muziek Bingo</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"/>
    <style>

    </style>
</head>
<body>
    <div class="main-container">
        <img src="{{url_for('static', filename='background/muziek_bingo_logo.png')}}" alt="Muziek Bingo Logo" class="logo">
        <button id="reset-button">Reset bingo kaart</button>
<!--        <img src="/static/background/title-background.png" alt="Muziek Bingo" class="title-image">        -->
        <div class="turntable-section">
            <div class="background-image"></div>
            <div class="album-cover" id="album-container">
<!--                <p>No song selected yet!</p>   -->
            </div>
        </div>
        
        <div class="right-section">
            <div class="song-info" id="song-info">
                <h1>Klaar om te starten!</h1>
            </div>
            <div class="grid-container" id="song-grid">
                <!-- Dynamically populated -->
            </div>
        </div>
    
        <div class="buttons-section">
            <button class="button-88" id="random-button">Kies een nummer</button>

        </div>
    
        <div class="carousel-section">
            <div class="carousel-frame" id="carousel-frame">
                <!-- Dynamically populated -->
            </div>
        </div>

        <div id="bingo-winner-animation">
            <img id="bingo-winner" src="{{url_for('static', filename='background/bingo-winnaar.png')}}" alt="Bingo Winner">
        </div>

        <div id="bingo-loser-animation">
            <img id="bingo-loser" src="{{url_for('static', filename='background/helaas.png')}}" alt="Bingo Loser">
        </div>

        <audio id="roulette-sound" src="{{url_for('static', filename='sounds/482663__joao_janz__roulette-wheel-spin-loop-1_1.wav')}}"></audio>
        <audio id="f1-key-sound" src="{{url_for('static', filename='sounds/Benny-hill-theme.mp3')}}"></audio>
        <audio id="f2-key-sound" src="{{url_for('static', filename='sounds/yt1z.net-The_Entertainer-Scott_Joplin.mp3')}}"></audio>
        <audio id="f3-key-sound" src="{{url_for('static', filename='sounds/Misirlou.mp3')}}"></audio>
        <audio id="drum-roll-sound" src="{{url_for('static', filename='sounds/yt1z.net - Drumroll sound effect.mp3')}}"></audio>
    </div>

    <script src="{{url_for('static', filename='script.js')}}">

    </script>
</body>
</html>
