<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Muziek Bingo</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"/>
    <style>

    </style>
</head>
<body>
    <div class="main-container">
        <img src="/static/background/title-background.png" alt="Muziek Bingo" class="title-image">        
        <div class="turntable-section">
            <div class="background-image"></div>
            <div class="album-cover" id="album-container">
                <p>No song selected yet!</p>
            </div>
        </div>
        
        <div class="right-section">
            <div class="song-info" id="song-info">
                Getrokken nummers:
            </div>
            <div class="grid-container" id="song-grid">
                <!-- Dynamically populated -->
            </div>
        </div>
    
        <div class="buttons-section">
            <button id="random-button">Kies een nummer</button>
            <button id="reset-button">Reset bingo kaart</button>
        </div>
    
        <div class="carousel-section">
            <div class="carousel-frame" id="carousel-frame">
                <!-- Dynamically populated -->
            </div>
        </div>
    </div>

    <script src="{{url_for('static', filename='script.js')}}">

    </script>
</body>
</html>
